# /etc/systemd/system/dc-launcher.service
[Unit]
Description=Auto Desktop Shortcut

[Service]
Type=simple
ExecStart=/usr/bin/python3.6 /usr/lib/dc-launcher/auto-shortc
Restart=always
User=linux

[Install]
WantedBy=multi-user.target

			
